.confirm {
  padding: 0vw 6.5vw;
}

.confirm__header {
  margin-top: 10vw;
}

.confirm__title {
  font-family: "airbnb_cereal_appbook";
  text-align: left;
  font-size: 5vw;
  line-height: 8vw;
  margin: 0vw;
  padding: 0vw 4vw;
  color: #787878;
}

.confirm__title--bold {
  color: #484848;
  font-size: 5.4vw;
  font-family: "airbnb_cereal_appbold";
}
.confirm__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10vw 0vw;
  align-items: center;
}

.confirm__btn {
  border-radius: 1.2vw;
  padding: 4vw 14vw;
  margin: 0vw 4vw;
  background-color: #ffffff;
  display: inline-block;
  border: solid 1px #f36b7f;
  outline: none;

  /* Button text */
  color: #f36b7f;
  font-family: "airbnb_cereal_appmedium";
  font-size: 4.2vw;
  text-align: center;
  text-decoration: none;
}

.confirm__btn:active {
  background-color: #f36b7f;
  color: #ffffff;
  border: solid 1px #f36b7f;
}

.confirm__btn--warn {
  background-color: #f36b7f;
  border: solid 1px #f36b7f;
  color: #ffffff;
}

.confirm__btn--warn:active {
  background-color: #ffffff;
  border: solid 1px #f36b7f;
  color: #f36b7f;
}

.confirm__loader-container {
  display: flex;
  justify-content: center;
  height: 34.5vw;
  position: relative;
}

.confirm__loader {
  position: absolute;
  width: 35vw;
  height: auto;
  top: -2vw;
  margin: auto;
}
