/* Phone number */

.description__text {
  font-family: "airbnb_cereal_appbook";
  font-size: 4.8vw;
  color: #787878;
  line-height: 6.8vw;
}

.phoneNum__footer {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  width: 87vw;
  bottom: 0;
  padding-bottom: 6.5vw;
}
