/* Review layout */
.review--container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 75vh;
  top: 25vh;
  background-color: #ffffff;
  border-radius: 6vw 6vw 0vw 0vw;
}

.review__header {
  padding: 8vw 0vw;
}

/* Review text */
.review__title {
  color: #484848;
  font-family: "airbnb_cereal_appbold";
  font-size: 6vw;
  margin: 0;
}

.review__sub-title {
}

.review__btn {
  position: fixed;
  bottom: 20vw;
  right: 20vw;
}

.review__btn-text {
  margin: 0;
  color: #ffffff;
  font-family: "airbnb_cereal_appmedium";
  font-size: 4.5vw;
  text-align: center;
  text-decoration: none;
}

/*  Image styles */

.review__img {
  width: 100vw;
  height: 30vh;
  position: absolute;
  object-fit: cover;
  background-color: #e5e5e5;
}
