.menu-btn {
  position: fixed;
  margin: auto;
  margin-bottom: 6.5vw;
  bottom: 0;
  right: 6.5vw;
  z-index: 2;
  width: 14vw;
  height: 14vw;
  border-radius: 12vw;
  background-color: #ffffff;
  box-shadow: 0 0 12px 1px rgba(72, 72, 72, 0.2);
  animation: fadeInUp 1s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
}

.menu-btn__icon-container {
  padding: 2vw 2vw;
  height: 7vw;
  width: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-btn__icon {
  width: 100%;
  height: auto;
}

.menu {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #ffffff;
}

/***** Modal Menu Animations *****/
.menu-modal-appear,
.menu-modal-enter {
  opacity: 0;
  transform: translateY(100%);
}

.menu-modal-appear-active,
.menu-modal-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: all 500ms ease 0ms;
}

.menu-modal-exit {
  opacity: 1;
  transform: translateY(0%);
}

.menu-modal-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: all 500ms ease 0s;
}

/********** Menu Page  **********/
.menu__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__logo {
  width: 10vw;
  height: auto;
  margin-top: 10vw;
}

.menu__list {
  padding: 0vw 6.5vw;
  margin-top: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__link {
  font-family: "airbnb_cereal_appmedium";
  font-size: 5vw;
  margin: 0vw;
  color: #c2c2c2;
}

.menu__link-active {
  color: #484848;
}

.menu__item {
  margin: 5vw 0vw;
}
