.explain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.explain__img-container {
  overflow: hidden;
  width: 87vw;
  margin-bottom: 15vw;
}

.explain__img {
  object-fit: cover;
  width: 90vw;
  height: auto;
}

.explain__title {
  font-family: "airbnb_cereal_appmedium";
  text-align: center;
  font-size: 8vw;
  line-height: 10vw;
  margin: 0vw;
  color: #484848;
}

.explain__text {
}
