.features {
  padding: 8rem 0rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.features__list {
  padding: 0;
}

.features__list-item {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.features__list-icon {
  width: 1.5rem;
  margin-right: 1.5rem;
  color: #00d38c;
}

//
.feature-img {
  width: 45%;
  margin-right: 14%;
}

.feature-img--right {
  margin-right: 0;
  margin-left: 14%;
}

.feature-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0rem;
}

.feature-divider {
  height: 1px;
  width: 50%;
  margin: 2.5rem 0rem;
  background-color: #e5e5e5;
}

//
