/********** Feautures section **********/

.features {
  margin-top: 8rem;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.features__grid {
  display: grid;
  grid-template-columns: 38%;
  grid-column-gap: 8rem;
  align-items: center;
  justify-content: center;
  grid-auto-flow: column;
  margin: 8rem 0rem;
}

// Alternate grid item positions for every other grid
.features__grid:nth-child(odd) .features__grid-item:nth-of-type(2) {
  grid-column-start: 1;
}

.features__grid-item {
  align-items: center;
}

.features__img {
  width: 100%;
  object-fit: cover;
  height: auto;
}
