@import "~bulma/sass/utilities/mixins.sass";

.features__header {
  @include mobile {
    margin: 4rem 0rem 4rem 0rem;
  }

  @include tablet {
    margin: 5rem 0rem 5rem 0rem;
  }

  @include desktop {
    margin: 10rem 0rem 6rem 0rem;
  }
}

// Features items
.features__item-container .feature-item:nth-child(even) .columns {
  @include mobile {
    flex-direction: row;
  }
  @include tablet {
    flex-direction: row-reverse;
  }
  @include desktop {
    flex-direction: row-reverse;
  }
}

.feature-item {
  @include mobile {
    padding: 3rem 0rem;
  }
  @include tablet {
    padding: 3rem 0rem;
  }
  @include desktop {
    padding: 5rem 0rem;
  }
}

.feature-item__divider {
  height: 1px;
  width: 50%;
  margin: 2.5rem 0rem;
  background-color: #e5e5e5;
}

.feature-item__list {
  padding: 0;
}

.feature-item__list-item {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.feature-item__list-icon {
  @include mobile {
    width: 1rem;
    margin-right: 1rem;
  }
  @include tablet {
    width: 1.15rem;
    margin-right: 1rem;
  }
  @include desktop {
    width: 1.5rem;
  }
  flex-shrink: 0;
  color: #00d38c;
}

.feature-img {
  width: 45%;
  margin-right: 10%;
}

.feature-img--right {
  margin-right: 0;
  margin-left: 10%;
}

.feature-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0rem;
}

.feature-divider {
  height: 1px;
  width: 50%;
  margin: 2.5rem 0rem;
  background-color: #e5e5e5;
}
