/***** Generic Input *****/

.generic-input__entry {
  width: 80vw;
  border: solid 1.2px #e5e5e5;
  outline: none;
  border-radius: 1.5vw;
  padding: 4vw 2vw;

  font-family: "airbnb_cereal_appbook";
  font-size: 5vw;
  color: #484848;
}

.generic-input__entry:focus {
  box-shadow: 0 0 5px rgb(81, 238, 146);
}

.generic-input__entry--error {
  box-shadow: 0 0 5px rgb(238, 81, 81);
}

/***** Label Input *****/

.label-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3vw 0vw;
  margin: 0;
  border: solid #e5e5e5 1.2px;
  border-radius: 3px;

  outline: none;
  /* width: 87vw; */
}

.label-input--focus {
  box-shadow: 0 0 5px rgb(81, 238, 146);
}

.label-input--error {
  box-shadow: 0 0 5px rgb(238, 81, 81);
}

.label-input__entry {
  margin: 0;
  display: flex;
  outline: none;
  padding: 0vw 4vw;
  border-width: 0;
  border-style: none;

  font-family: "airbnb_cereal_appbook";
  font-size: 5vw;
  color: #484848;
}

.label-input__entry:focus {
  box-shadow: none;
}

.label-input__inline-label {
  margin: 0;
  padding: 1.2vw 4vw;
  padding-left: 3vw;
  border-right: solid #e5e5e5 2px;

  font-family: "airbnb_cereal_appbook";
  font-size: 4.8vw;
  color: #484848;
  text-align: center;
}

/***** Input error message *****/

.input__error-message {
  margin-bottom: 2vw;
  font-family: "airbnb_cereal_appmedium";
  font-size: 4.5vw;
  color: #ff3434;
}
