.copy__icon {
  width: 1.15rem;
  height: auto;
  color: #484848;
  padding-left: 0.3rem;
  /* padding-bottom: 1vw; */
}

.copy__text {
  margin: 0;
  font-family: "airbnb_cereal_appbook";
  font-size: 4.2vw;
  line-height: 10vw;
  color: #484848;
  padding-right: 2vw;
}
