.copy {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #ebebeb;
  border-radius: 1vw;
  margin: 1vw 0vw 8vw 0vw;
  padding: 1vw 2vw;
}

.copy:active {
  opacity: 0.5;
}

.copy__icon {
  width: 5vw;
  height: auto;
  color: #484848;
  padding-bottom: 1vw;
}

.copy__text {
  margin: 0;
  font-family: "airbnb_cereal_appbook";
  font-size: 4.2vw;
  line-height: 10vw;
  color: #484848;
  padding-right: 2vw;
}
