.seller-nav {
  border-bottom: solid 1px #e5e5e5;
}

.seller-nav__logo {
  padding: 0 1rem;
  height: auto;
}

.seller-nav__item {
  margin: 0rem 1rem;
  padding: 1rem 0.15rem;
}

.seller-nav__item-active {
  border-bottom: solid 0.2rem #f36b7f;
  padding-bottom: 0.8rem;
}

.seller-nav__item:hover {
  border-bottom: solid 0.2rem #f36b7f;
  padding-bottom: 0.8rem;
}

.seller-nav__profile-container {
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seller-nav__profile {
  width: 1.75rem;
  height: 1.75rem;
  background-color: #787878;
  border-radius: 2rem;
}
