.product {
  height: 96vh;
}

.header--product {
  margin-bottom: 10vw;
}
.product__list {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.product__add-item {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 15vw;
  height: 65vw;
  width: calc(87vw - (2px));
  border: dashed 2px #e5e5e5;
  border-radius: 3vw;
}

.product__add-item-text {
  display: block;
  font-family: "airbnb_cereal_appbook";
  font-size: 4.8vw;
  color: #787878;
  line-height: 6.8vw;
}

.product__plus-icon {
  width: 8vw;
  height: auto;
  margin: auto;
}

.product__loader-container {
  bottom: 10vh;
  display: flex;
  width: 87vw;
  align-items: center;
  justify-content: center;
}

.product__loader {
  width: 40vw;
  height: auto;
}

/********** Product empty state **********/
.product__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0vw 2vw;
}

.product__empty-img-container {
  overflow: hidden;
  width: 87vw;
  margin-bottom: 15vw;
}

.product__empty-img {
  object-fit: cover;
  width: 100vw;
  height: auto;
  position: fixed;
  bottom: -5.2vw;
}
.product__empty-title {
  font-family: "airbnb_cereal_appmedium";
  font-size: 8vw;
  margin: 0vw;
  color: #484848;
}

.product__empty-text {
  font-family: "airbnb_cereal_appbook";
  text-align: center;
  font-size: 4.8vw;
  line-height: 5.8vw;
  color: #787878;
}

.product__empty-btn {
  border-radius: 1.2vw;
  margin: 5vw 0vw 30vw 0vw;
  padding: 3.8vw 4.8vw;
  background-color: #f36b7f;
  display: inline-block;
  border: solid 1px #f36b7f;
  outline: none;

  /* Button text */

  color: #ffffff;
  font-family: "airbnb_cereal_appmedium";
  font-size: 4.2vw;
  text-align: center;
  text-decoration: none;
}

.product__empty-btn:active {
  background-color: #ffffff;
  color: #f36b7f;
}

/********** Product card component **********/

a {
  text-decoration: none;
}

.product-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.product-card__img {
  width: 87vw;
  height: 65vw;
  border-radius: 3vw;
  object-fit: cover;
  background-color: #e5e5e5;
}

.product-card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4vw 2vw 10vw 2vw;
}

.product-card__name {
  margin: 0;
  font-family: "airbnb_cereal_appmedium";
  font-size: 6vw;
  color: #484848;
  line-height: 6.8vw;
}

.product-card__price {
  display: flex;
  flex-direction: row;
  padding-top: 2vw;
}

.product-card__currency {
  margin: 0;
  padding-left: 1.2vw;
  padding-bottom: 0.4vw;
  align-self: flex-end;
  font-family: "airbnb_cereal_appbook";
  font-size: 3.5vw;
  color: #787878;
}
.product-card__price-text {
  margin: 0;
  font-family: "airbnb_cereal_appbook";
  font-size: 4.8vw;
  color: #787878;
}
/********** Edit product **********/
.edit-product {
  height: 115vh;
}

/********** Product modal **********/

.product-modal__header {
  border-bottom: solid 1.2px #e5e5e5;
  padding: 3vh 6.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.product-modal__header-text {
  font-family: "airbnb_cereal_appmedium";
  font-size: 4.8vw;
  color: #484848;
  margin: 0;
}

.product-modal__content {
  padding: 0vw 6.5vw;
}

.product-modal__text {
  font-family: "airbnb_cereal_appbook";
  color: #787878;
  font-size: 4.8vw;
  margin: 0;
  padding-left: 8vw;
}

.product-modal__row {
  display: flex;
  flex-direction: row;
  margin: 2vh 0vw;
  padding: 2vh 0vw;
  align-items: center;
}

.product-modal__icon {
  width: 8vw;
}

.product-modal__btn {
  background-color: #ffffff;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 28vw;
  padding: 2.5vw 2vw;
  margin-bottom: 5vw;
  text-align: center;
  border: solid 1.3px #fc5e5e;
  border-radius: 6px;
}

/********** Delete modal **********/

.delete-modal__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10vw 0vw;
  align-items: center;
}

.delete-modal__content {
  padding: 0vw 6.5vw;
}

.delete-modal__btn {
  border-radius: 1.2vw;
  padding: 4.2vw 12.2vw;
  background-color: #ffffff;
  display: inline-block;
  border: solid 1px #f36b7f;
  outline: none;

  /* Button text */
  color: #f36b7f;
  font-family: "airbnb_cereal_appmedium";
  font-size: 4.5vw;
  text-align: center;
  text-decoration: none;
}

.delete-modal__btn:active {
  background-color: #f36b7f;
  color: #ffffff;
  border: solid 1px #f36b7f;
}

.delete-modal__text {
  font-family: "airbnb_cereal_appbook";
  color: #787878;
  font-size: 4.8vw;
  margin: 0;
  padding-top: 6vw;
  line-height: 3.2vh;
}

.delete-modal__btn--warn {
  background-color: #f36b7f;
  border: solid 1px #f36b7f;
  color: #ffffff;
}

.delete-modal__btn--warn:active {
  background-color: #ffffff;
  border: solid 1px #f36b7f;
  color: #f36b7f;
}

.delete-modal__loader-body {
  display: flex;
  justify-content: center;
  height: 34.5vw;
  position: relative;
}

.delete-modal__loader {
  position: absolute;
  width: 35vw;
  height: auto;
  top: -2vw;
  margin: auto;
}
