@import "~bulma/sass/utilities/mixins.sass";

.footer {
  overflow: hidden;
  padding-bottom: 1.5rem;
}

.footer__divider {
  background-color: #d9d9d9;
  height: 1px;
  width: 90%;
  margin: 1rem auto 2.5rem auto;
}

.footer__logo {
  display: flex;
  margin: auto;
  @include mobile {
    width: 2.5rem;
  }
  @include tablet {
    width: 3rem;
  }
  @include desktop {
    width: 3rem;
  }
}

.footer__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  @media (max-width: 480px) {
    display: block;
    flex-direction: column;
    justify-items: center;
  }
}
