.landing__logo-container {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10vw;
  margin-bottom: 10vw;
}

.landing__logo {
  object-fit: cover;
  width: 10vw;
  height: auto;
}

.divider {
  margin: auto;
  width: 10vw;
  border-bottom: solid 2px #484848;
}

/********** Menu **********/
.menu {
  background-color: #ffffff;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  overflow-x: hidden;
}

/********** Hero section **********/

.hero__img-container {
  margin: auto;
  margin-top: 6vw;
  overflow: hidden;
  width: 68.2vw;
}

.hero__img {
  object-fit: cover;
  width: 135vw;
  height: auto;
}

.hero__header {
  align-items: center;
  padding: 10vw 0vw 5vw 0vw;
}

.hero__title {
  margin: 0;
  font-family: "airbnb_cereal_appmedium";
  color: #484848;
  font-size: 8vw;
  line-height: 10vw;
  text-align: center;
}

.hero__text {
  margin: 0;
  font-family: "airbnb_cereal_appbook";
  color: #787878;
  font-size: 4.8vw;
  line-height: 6.8vw;
  padding: 5vw 0vw;
  text-align: center;
}

.hero__footer {
  display: flex;
  justify-content: center;
}

.hero__footer-btn {
  border-radius: 1.2vw;
  padding: 3.8vw 4.8vw;
  background-color: #f36b7f;
  display: inline-block;
  border: solid 2px #f36b7f;
  outline: none;

  /* Button text */
  color: #ffffff;
  font-family: "airbnb_cereal_appmedium";
  font-size: 4.2vw;
  text-align: center;
  text-decoration: none;
}

.hero__footer-btn:active {
  background-color: #ffffff;
  color: #f36b7f;
}

.hero__lottie {
  width: 8vw;
  margin: auto;
  margin-top: 4vh;
}

/********** Demo section **********/

.demo {
  margin-top: 15vh;
}

.demo__title {
  font-family: "airbnb_cereal_appmedium";
  font-size: 8vw;
  margin: 0;
  margin-top: 8vw;
  text-align: center;
  color: #484848;
}

.demo__text {
  margin: 0;
  font-family: "airbnb_cereal_appbook";
  color: #787878;
  font-size: 4.8vw;
  line-height: 6.8vw;
  padding: 5vw 0vw 15vw 0vw;
  text-align: center;
}

.demo__product {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.demo__mockup {
  width: 65vw;
  z-index: 2;
}

.demo__gif-container {
  position: absolute;
  top: 3.2vw;
}

.demo__gif {
  object-fit: cover;
  width: 57.2vw;
}

/********** How section **********/
.how {
  margin-top: 15vh;
}

.how__title {
  font-family: "airbnb_cereal_appmedium";
  font-size: 8vw;
  line-height: 10vw;
  margin-bottom: 20vw;
  text-align: center;
  color: #484848;
}

.how__card {
  margin-bottom: 15vw;
}

.how__number {
  position: relative;
  margin: 0;
  margin-bottom: 8vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.how__number-circle {
  position: relative;
  background-color: #f36b7f;
  padding: 5.5vw 5.5vw;
  border-radius: 7vw;
}

.how__number-text {
  position: absolute;
  font-family: "airbnb_cereal_appmedium";
  font-size: 4.8vw;
  text-align: left;
  color: #ffffff;
  margin: 0;
}

.how__sub-title {
  font-family: "airbnb_cereal_appmedium";
  font-size: 6vw;
  margin: 0vw;
  color: #484848;
}

.how__text {
  font-family: "airbnb_cereal_appbook";
  font-size: 4.8vw;
  line-height: 7.8vw;
  color: #787878;
  margin: 0;
  margin-top: 4vw;
}

/********** Pricing section **********/

.pricing {
  margin-top: 15vh;
}

.pricing__title {
  font-family: "airbnb_cereal_appmedium";
  font-size: 8vw;
  line-height: 10vw;
  margin-bottom: 15vw;
  text-align: center;
  color: #484848;
}

.pricing__img-container {
  overflow: hidden;
  width: 87vw;
  margin-bottom: 15vw;
}

.pricing__img {
  object-fit: cover;
  width: 90vw;
  height: auto;
}

.pricing__card {
  margin-bottom: 15vw;
}

.pricing__sub-title {
  font-family: "airbnb_cereal_appmedium";
  font-size: 6vw;
  margin: 0vw;
  color: #484848;
}

.pricing__text {
  font-family: "airbnb_cereal_appbook";
  font-size: 4.8vw;
  line-height: 7.8vw;
  color: #787878;
  margin: 0;
  margin-top: 4vw;
}

.pricing__warn {
  color: #f36b7f;
  font-family: "airbnb_cereal_appmedium";
}

/********** FAQ section **********/

.faq {
  margin-top: 15vh;
}
.faq__title {
  font-family: "airbnb_cereal_appmedium";
  font-size: 8vw;
  line-height: 10vw;
  margin-bottom: 15vw;
  text-align: center;
  color: #484848;
}

.faq__img-container {
  overflow: hidden;
  width: 87vw;
  margin-bottom: 10vw;
}

.faq__img {
  object-fit: cover;
  width: 90vw;
  height: auto;
}

.faq__question {
  margin: 0;
  padding: 5vw 0vw;
  font-family: "airbnb_cereal_appbook";
  font-size: 4.8vw;
  color: #f36b7f;
  line-height: 7vw;
  border-bottom: solid 1px #e5e5e5;
}

/********** FAQ page **********/

.faq__page {
  margin-top: 5vh;
}

.faq__sub-title {
  font-family: "airbnb_cereal_appmedium";
  font-size: 6vw;
  line-height: 7.8vw;
  color: #484848;
  margin: 4vw 0vw;
}

.faq__text {
  font-family: "airbnb_cereal_appbook";
  font-size: 4.8vw;
  line-height: 6.8vw;
  color: #787878;
  margin: 4vw 0vw;
}

/********** Signup section **********/
.signup {
  background-color: #faebd7;
  border-radius: 3vw;
  padding: 5vw 4vw;
  margin: 12vw 0vw;
}

.signup__title {
  font-family: "airbnb_cereal_appmedium";
  font-size: 8vw;
  line-height: 10vw;
  margin: 0vw;
  text-align: center;
  color: #484848;
  padding: 4vw 5vw 4vw 5vw;
}

.signup__text {
  margin: 0;
  padding: 3vw 0vw 3vw 0vw;
  font-family: "airbnb_cereal_appbook";
  font-size: 4.8vw;
  color: #484848;
  text-align: center;
  margin-top: 5vw;
}

.signup__btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vw;
  margin-bottom: 8vw;
}

.signup__btn {
  border-radius: 1.2vw;
  padding: 3.8vw 4.8vw;
  background-color: #f36b7f;
  display: inline-block;
  border: solid 2px #f36b7f;
  outline: none;

  /* Button text */
  color: #ffffff;
  font-family: "airbnb_cereal_appmedium";
  font-size: 4.2vw;
  text-align: center;
  text-decoration: none;
}
/********** Footer section **********/

.landing__footer {
  margin-top: 15vh;
  padding: 6vw 6.5vw;
  animation: fadeInUp 1s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  background-color: #484848;
}

.landing__footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5vw 0vw;
}

.landing__footer-logo-img {
  object-fit: cover;
  width: 10vw;
  height: auto;
}

.landing__footer-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5vw 0vw;
}

.landing__footer-text {
  font-family: "airbnb_cereal_applight";
  font-size: 4.8vw;
  color: #ffffff;
  margin: 0;
}

.landing__footer-icon {
  width: 6vw;
  color: #ffffff;
}

/********** Feautures section **********/

.features {
  margin-top: 15vh;
}

.features__img-container {
  position: absolute;
  overflow: hidden;
  width: 87vw;
}

.features__img {
  object-fit: cover;
  width: 87vw;
  height: auto;
}

.features__title {
  font-family: "airbnb_cereal_appmedium";
  font-size: 8vw;
  line-height: 10vw;
  margin-bottom: 15vw;
  text-align: center;
  color: #484848;
}

.features__content {
  margin-top: 5vw;
  margin-bottom: 10vw;
}

.features__sub-title {
  font-family: "airbnb_cereal_appmedium";
  font-size: 6vw;
  line-height: 7.5vw;
  margin: 0vw;
  color: #484848;
}

.features__text {
  margin: 0;
  font-family: "airbnb_cereal_appbook";
  color: #787878;
  font-size: 4.8vw;
  line-height: 6.8vw;
  padding: 5vw 0vw;
  text-align: left;
}
