.pulse {
  position: relative;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: rgb(0, 0, 0, 0);
}

.pulse__lottie {
  width: 33vw;
  height: auto;
  position: absolute;
  z-index: -1;
  top: -8.5vw;
  left: -7.5vw;
}

.pulse__btn {
  z-index: 2;
  top: 0vw;
  left: 0vw;
  width: 11vw;
  height: 11vw;
  border-radius: 12vw;
  padding: 2vw 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
}
