.pulse {
  position: relative;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: rgb(0, 0, 0, 0);
}

.pulse__lottie {
  width: 33vw;
  height: auto;
  position: absolute;
  z-index: -1;
  top: -8vw;
  left: -7vw;
}

.pulse__btn {
  z-index: 2;
  top: 0vw;
  left: 0vw;
  width: 12vw;
  height: 12vw;
  border-radius: 12vw;
  padding: 2vw 2vw;
  background-color: #484848;
  box-shadow: 0 0 4px 1px #484848;

  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
}
