.talk {
  display: flex;
  justify-content: center;
  align-items: center;
}

.talk__btn-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.talk__btn-icon {
  width: 1.15rem;
  margin-left: 0.5rem;
  padding-bottom: 0.25rem;
}

.talk__footer-img {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}
