.hero__container {
  // display: flex;
  position: relative;
}

.hero__heading-container {
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;

  // Extra small devices
  @media only screen and (min-height: 480px) {
    height: 55vh;
  }

  //
  @media only screen and (min-height: 700px) {
    height: 60vh;
  }

  @media only screen and (min-height: 800px) {
    height: 65vh;
  }

  @media only screen and (min-height: 900px) {
    height: 65vh;
  }

  @media only screen and (min-height: 1000px) {
    height: 70vh;
  }

  @media only screen and (min-height: 1300px) {
    height: 80vh;
  }
}

.hero__heading {
  z-index: 2;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent),
    url("../../../images/background-text.svg") no-repeat;
  background: -o-linear-gradient(transparent, transparent);
  background-size: auto 350%;
  background-position: bottom;
  background-clip: text;
}

.hero__mock-container {
  width: 20rem;
  margin: auto;
}

.hero__mock {
  width: 100%;
}

.particle__container {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0px;
  background-image: url("../../../images/white-box.png");

  /* Add the blur effect */
  filter: blur(5px);
  -webkit-filter: blur(5px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
