.order-delivery__emoji {
  margin-left: 0.75rem;
}

.order-delivery__btn {
  margin-top: 2.25rem;
  margin-bottom: 0.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.order-delivery__btn-icon {
  display: flex !important;
  width: 1rem;
  margin-right: 0.75rem;
}
