@import "~bulma/sass/utilities/mixins.sass";

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 3rem 3rem;
  @include mobile {
    margin: 2.5rem 0rem 0rem 0rem;
  }
  margin: 5rem 0rem;

  // Background image styling
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.15);
  background-image: url("https://res.cloudinary.com/dzxuz9zc9/image/upload/v1583252399/web_assets/tim-gouw-Krh85nEqOQc-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.signup__title {
  margin: 1rem 0rem 3rem 0rem !important;
}

.signup__button {
  background-color: #000000;
  border: solid 1px #000000;
}

.signup__button:active {
  background-color: transparent;
  border: solid 1px #ffffff;
  color: #ffffff;
}
