@import "~bulma/sass/utilities/mixins.sass";

.signup-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 3rem 3rem;
  background-color: #356ee1;
  margin: 5rem 0rem;
  @include mobile {
    margin: 2.5rem 0rem 0rem 0rem;
  }
}

.signup-section__emoji {
  margin: 1rem 0rem 2rem 0rem !important;
}

.signup-section__title {
  margin: 1rem 0rem 3rem 0rem !important;
}

.signup-section__button {
  background-color: #ffffff;
  border: solid 1px #ffffff;
  color: #000000;
}

.signup-section__button:active {
  background-color: transparent;
  border: solid 1px #ffffff;
  color: #ffffff;
}
