.details-image-preview {
  margin-top: 1.25rem;
  object-fit: cover;
  width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
  border: solid 1px #e5e5e5;
  background-color: #e5e5e5;
}

.details-field {
  margin-top: 1.75rem;
}

.details-field__label {
  margin-bottom: 0.75rem !important;
}
