input[type="file"] {
  display: none;
}

.image-input__placeholder {
  border: dashed 2px #d5d5d5;
  border-radius: 10px;
  width: 100%;
  height: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.image-input__placeholder-background {
  background-image: url("https://res.cloudinary.com/dzxuz9zc9/image/upload/q_auto/v1566397329/web_assets/img-placeholder.png");
  background-repeat: no-repeat;
  background-size: 90% 90%;
  background-position: center;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.image-input__button {
  align-self: center;
}

.image-input__upload-icon {
  color: inherit;
  width: 1.2rem;
  margin-right: 0.5rem;
}

/***** Image remove *****/

.image-remove__icon {
  color: inherit;
  width: 1.2rem;
  margin-right: 0.5rem;
}

/***** Thumbnail *****/

.thumb {
  width: 100%;
  height: 18rem;
  border-radius: 10px;
  object-fit: cover;
  margin-top: 2rem;
}
