@import "app.scss";

.orders-item {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.orders-item:hover {
  @include desktop {
    background-color: #f9f9f9;
  }
}

.orders-item:active {
  background-color: #e5e5e5;
}

.orders-item__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  @include desktop {
    min-width: 15rem;
  }
}

// Image styling

.orders-item__img-container {
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  padding-bottom: 3rem;
  height: 0;
  position: relative;
  background: #f9f9f9;
}

.orders-item__img {
  display: flex;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.orders-item__img-placeholder-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3.5rem;
  position: relative;
}

.orders-item__img-placeholder {
  position: absolute;
  width: 3.75rem;
  height: 4rem;
  color: #d9d9d9;
}

// Content

.orders-item__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0.8rem;
}

.orders-item__content-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.orders-item__content-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.3rem;
}

.orders-item__content-time-icon {
  color: #787878;
  display: flex !important;
  width: 0.85rem;
  height: 0.85rem;
  margin-right: 0.1rem;
}

// Status

.orders-item__status {
  display: inline-flex;
  margin: 0;
  padding: 0.1rem 0.3rem;
  border-radius: 0.15rem;
  background-color: #f3eb6b;
  color: #484848 !important;
  margin-left: 0.5rem !important;

  @include desktop {
    margin: 0;
    padding: 0.3rem 0.425rem;
  }
}

.orders-item__status--fulfilled {
  background-color: #8cf8a5;
}

.orders-item__container {
  display: flex;
  height: 3rem;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
