/********** Signup section **********/
.signup {
  margin: 4.5rem 0rem;
}

.signup__background {
  display: flex;
  justify-content: center;
  background-color: #faebd7;
  border-radius: 1rem;
  padding: 3.5rem 2rem;
}

.signup__btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
