.desktop-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0rem 2rem;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid #e4e4e4;
  z-index: 1;
}

.desktop-navbar__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/***** Navbar LOGO *****/

.navbar-logo {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.navbar-logo__img {
  width: 3rem;
  height: auto;
}

/***** Navbar LINKS *****/

.navbar-links {
  display: flex;
  flex-direction: row;
}

/***** Navbar ITEM *****/

.navbar-item {
  display: flex;
  align-items: center;
  padding: 1rem 0rem;
  margin: 0rem 0.75rem;
  height: 2rem;
  cursor: pointer;
  color: #d9d9d9;
}

.navbar-item:hover {
  color: #787878;
}

.navbar-item--active {
  border-bottom: 3px solid #356ee1;
  color: #484848;
}

/***** Navbar PROFILE *****/

.navbar-profile-link {
  display: flex;
  align-items: center;
  width: 2rem;
  height: 2rem;
  padding: 1rem 0rem;
  margin: 0rem 0.75rem;
  cursor: pointer;
  color: #d9d9d9;
}

.navbar-profile-link:hover {
  color: #787878;
}

.navbar-profile-link--active {
  padding-top: calc(1rem + 2px);
  border-bottom: 3px solid #356ee1;
  color: #484848;
}

.navbar-profile__icon {
  color: inherit;
}

// Navbar store link

.navbar-store-link__wrapper {
  padding: 1rem 0rem;
}

.navbar-store-link {
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin: 0rem 0.75rem;
  border-radius: 100%;
  border: solid 1px #e4e4e4;
  cursor: pointer;
}

.navbar-store-link:hover {
  background-color: #f9f9f9;
}

.navbar-store-link:active {
  background-color: #e5e5e5;
}

.navbar-store-link__emoji {
  font-size: 0.95rem;
  margin: 0;
  margin-bottom: 0.25rem !important;
  margin-left: 0.2rem !important;
}
