.desktop-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0rem 2rem;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid #e4e4e4;
  z-index: 1;
}

/***** Navbar LOGO *****/

.navbar-logo {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.navbar-logo__img {
  width: 2rem;
  height: auto;
}

/***** Navbar LINKS *****/

.navbar-links {
  display: flex;
  flex-direction: row;
}

/***** Navbar ITEM *****/

.navbar-item {
  display: flex;
  align-items: center;
  padding: 1rem 0rem;
  margin: 0rem 0.75rem;
  height: 2rem;
  cursor: pointer;
  color: #484848;
}

.navbar-item:hover,
.navbar-item--active {
  border-bottom: 3px solid #356ee1;
}

/***** Navbar PROFILE *****/

.navbar-profile {
  display: flex;
  align-items: center;
  width: 2rem;
  height: 2rem;
  padding: 1rem 0rem;
  margin: 0rem 0.75rem;
  cursor: pointer;
  color: #484848;
}

.navbar-profile:hover,
.navbar-profile--active {
  border-bottom: 3px solid #356ee1;
}

.navbar-profile__icon {
  color: inherit;
}
