.desktop-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0rem 2rem;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid #e4e4e4;
  z-index: 1;
}

.desktop-navbar__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/***** Navbar LOGO *****/

.navbar-logo {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.navbar-logo__img {
  width: 3rem;
  height: auto;
}

/***** Navbar LINKS *****/

.navbar-links {
  display: flex;
  flex-direction: row;
}

/***** Navbar ITEM *****/

.navbar-item {
  display: flex;
  align-items: center;
  padding: 1rem 0rem;
  margin: 0rem 0.75rem;
  height: 2rem;
  cursor: pointer;
  color: #d9d9d9;
}

.navbar-item:hover,
.navbar-item--active {
  border-bottom: 3px solid #356ee1;
  color: #484848;
}

/***** Navbar PROFILE *****/

.navbar-profile {
  display: flex;
  align-items: center;
  width: 2rem;
  height: 2rem;
  padding: 1rem 0rem;
  margin: 0rem 0.75rem;
  cursor: pointer;
  color: #d9d9d9;
}

.navbar-profile:hover,
.navbar-profile--active {
  border-bottom: 3px solid #356ee1;
  color: #484848;
  margin-bottom: -3px;
}

.navbar-profile__icon {
  color: inherit;
}

// Navbar store link

.navbar-store-link {
  position: relative;
  display: inline-block;
  // display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  margin: 1rem 0.75rem;
  border-radius: 2rem;
  border: solid 1px #e4e4e4;
  cursor: pointer;
}

.navbar-store-link__emoji {
  font-size: 1.15rem;
  margin-bottom: 0.35rem !important;
  margin-left: 0.2rem !important;
}

.navbar-store-link .navbar-store-link__tooltip {
  visibility: hidden;
  width: 100px;
  background-color: #484848;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 80%;
  margin-left: -60px !important;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 0.75s;
}

.navbar-store-link:hover .navbar-store-link__tooltip {
  visibility: visible;
  opacity: 1;
}

// Tooltip arrow
.navbar-store-link .navbar-store-link__tooltip::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #484848 transparent;
  z-index: 1;
}
