/* Payment row */
.payment__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 0.2vh #e5e5e5;
  padding-bottom: 3vw;
  justify-content: space-between;
}

.payment__row:active {
  background-color: #ececec;
}

.payment__row-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment__img {
  display: flex;
  height: 7.5vw;
  width: 14vw;
  margin-right: 5vw;
  border: solid 0.2vh #e5e5e5;
  border-radius: 1vw;
  align-items: center;
  justify-content: center;
}

.payment__photo {
  height: 4.5vw;
  width: 9vw;
  align-self: center;
  margin: auto;
}

.payment__text {
  color: #484848;
  font-family: "airbnb_cereal_appbook";
  font-size: 4.5vw;
}

.payment__icon {
  justify-self: flex-end;
}
