.phoneNum {
  height: 100vh;
}

/********** Header styles **********/

.phoneNum__header {
  padding-top: 8vw;
  padding-bottom: 8vw;
}

.phoneNum__title {
  color: #484848;
  font-family: "airbnb_cereal_appmedium";
  font-size: 8vw;
  margin: 0;
  line-height: 10vw;
}

/* Description styling */
.phoneNum__description {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.phoneNum__mpesa-img-container {
  border: solid 2px #e5e5e5;
  border-radius: 2vw;
  width: 8vw;
  height: 2vw;
}

.phoneNum__mpesa-img {
  object-fit: cover;
  width: 10vw;
  border-radius: 10px;
  background-color: #e5e5e5;
}

.phoneNum__emoji {
  margin-right: 4vw;
  font-size: 5vw;
}

.phoneNum__description-text {
  margin: 0;
  color: #787878;
  font-family: "airbnb_cereal_appbook";
  font-size: 4.8vw;
  line-height: 6.4vw;
  padding-bottom: 8vw;
}

.phoneNum__description-text--bold {
  font-family: "airbnb_cereal_appmedium";
  color: #484848;
}

/********** Footer styling **********/

.phoneNum__footer {
  position: fixed;
  display: flex;
  bottom: 0;
  justify-content: flex-end;
  width: 87vw;
  padding: 6.5vw 6.5vw;
}

.phoneNum__loader {
  position: fixed;
  display: flex;
  bottom: 0;
  justify-content: center;
  width: 87vw;
  padding: 1.5vw 6.5vw;
}

.phoneNum__btn {
  background-color: #484848;
  box-shadow: 0 0 4px 1px #484848;
  animation: fadeIn cubic-bezier(0.23, 1, 0.32, 1) 1s;
}

.phoneNum__btn--disabled {
  background: #c2c2c2;
  box-shadow: 0 0 4px 1px #c2c2c2;
}

.phoneNum__icon {
  color: #e5e5e5;
  width: 8vw;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
