/***** Loader Animations *****/

.loader-animation-appear,
.loader-animation-enter {
  opacity: 0;
  transform: translateY(100%);
}

.loader-animation-appear-active,
.loader-animation-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms ease 0ms;
}

.loader-animation-exit {
  opacity: 1;
  transform: translateY(0%);
}

.loader-animation-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: all 500ms ease 0s;
}

/***** Loader Animations *****/
