.product-loader {
  display: flex;
  height: 70%;
}

.product-loader__img {
  width: 3.5rem;
  height: 3.5rem;
}

/***** Toast Animations *****/

.product-loader-animation-appear,
.product-loader-animation-enter {
  opacity: 0;
  transform: translateY(100%);
}

.product-loader-animation-appear-active,
.product-loader-animation-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms ease 0ms;
}

.product-loader-animation-exit {
  opacity: 1;
  transform: translateY(0%);
}

.product-loader-animation-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: all 500ms ease 0s;
}

/***** Toast Animations *****/
