.options-popover {
  display: flex;
  flex-direction: column;
  width: 10rem;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  border-radius: 0.3rem;
  box-shadow: 0rem 0.3rem 1.5rem 0.05rem rgba(189, 54, 54, 0.15);
}

.options-popover__row {
  border-bottom: solid 1px #e5e5e5;
  padding: 0.75rem 1rem;
  color: #787878;
  cursor: pointer;
}

.options-popover__row:hover {
  background-color: #f9f9f9;
}

.options-popover__row:active {
  background-color: #e5e5e5;
}
