.waiting {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vw;
}

.waiting__title {
  margin: 18vw 0vw;
  font-family: "airbnb_cereal_appmedium";
  text-align: center;
  font-size: 8vw;
  line-height: 10vw;
  color: #484848;
}
