@import "app.scss";

.order-grid {
  @include desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.order-grid__first-column {
  @include desktop {
    width: 50%;
    margin-right: 3.5rem;
  }
}

.order-grid__second-column {
  @include desktop {
    width: 50%;
    position: sticky;
    align-self: flex-start;
    top: 3.5rem;
  }
}

/***** Order Card *****/

.order-card {
  padding: 2rem 1.5rem;
}

.order-card__wrapper {
  margin-top: 3.5rem;
}

.order-card__title {
  margin-top: 0.75rem !important;
  margin-bottom: 2.5rem !important;
}
