.product-item-options-mobile__btn {
  border: none;
  z-index: 2;
  height: 2rem;
  width: 2rem;
  padding: 0.3rem;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
}

.product-item-options-mobile__btn:active {
  background-color: #e5e5e5;
}

.product-item-options-mobile__icon {
  color: #787878;
  display: flex !important;
}
