.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.success__title {
  margin: 0;
  margin-top: 12vw;
  padding: 0vw 6vw;
  font-family: "airbnb_cereal_appmedium";
  text-align: center;
  font-size: 8vw;
  line-height: 10vw;
  color: #484848;
}

.success__img {
  object-fit: cover;
  width: 85vw;
  height: auto;
  position: fixed;
  bottom: -4.8vw;
}

.success__text {
  margin: 0;
  margin-top: 6vw;
  padding: 0vw 2vw;
  font-family: "airbnb_cereal_appbook";
  color: #787878;
  font-size: 4.8vw;
  line-height: 6vw;
  text-align: center;
}

.success__text--bold {
  font-family: "airbnb_cereal_appmedium";
  color: #484848;
}

.success__btn {
  border-radius: 1.2vw;
  margin-top: 8vw;
  padding: 3.8vw 4.8vw;
  background-color: #f36b7f;
  display: inline-block;
  border: solid 1px #f36b7f;
  outline: none;

  /* Button text */

  color: #ffffff;
  font-family: "airbnb_cereal_appmedium";
  font-size: 4.2vw;
  text-align: center;
  text-decoration: none;
}

.success--pink {
  color: #f36b7f;
}

.success__label {
  margin: 0;
  padding: 8vw 0vw 4vw 0vw;
  font-family: "airbnb_cereal_appbook";
  color: #787878;
  font-size: 4.2vw;
  line-height: 6.8vw;
  text-align: center;
}

.success__label-emoji {
  margin-right: 2vw;
}
