.header--product {
  margin-bottom: 10vw;
}

.product__list {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.product__add-item {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 65vw;
  width: calc(87vw - 2px);
  width: -moz-calc(87vw - 2px);
  width: -webkit-calc(87w - 2px);
  width: -o-calc(87w - 2px);
  border: dashed 2px #e5e5e5;
  border-radius: 3vw;
}

.product__add-item-text {
  display: block;
  font-family: "airbnb_cereal_appbook";
  font-size: 4.8vw;
  color: #787878;
  line-height: 6.8vw;
}

.product__plus-icon {
  width: 8vw;
  height: auto;
  margin: auto;
}

.product-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  border-radius: 3vw;
}

.product-card__img {
  width: 87vw;
  height: 65vw;
  border-radius: 10px;
  object-fit: cover;
  background-color: #e5e5e5;
}
