/***** Modal *****/

.bottom-modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

/***** Modal Animations *****/
.modal-appear,
.modal-enter {
  opacity: 0;
}
.modal-appear-active,
.modal-enter-active {
  opacity: 1;
  transition: all 600ms ease 0ms;
}

.modal-exit {
  opacity: 1;
}

.modal-exit-active {
  opacity: 0;
  transition: all 450ms ease 50ms;
}

/***** Modal Card *****/

.bottom-modal__card {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 10px 10px 0px 0px;
  z-index: 3;
}

/***** Modal Card Animations *****/
.card-appear,
.card-enter {
  opacity: 0;
  transform: translateY(100%);
}

.card-appear-active,
.card-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: all 500ms ease 0ms;
}

.card-exit {
  opacity: 1;
  transform: translateY(0%);
}

.card-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: all 500ms ease 0s;
}
