/********** Pricing section **********/

.pricing {
  margin-top: 15vh;
}

.pricing__title {
  font-family: "airbnb_cereal_appmedium";
  font-size: 8vw;
  line-height: 10vw;
  margin-bottom: 15vw;
  text-align: center;
  color: #484848;
}

.pricing__img-container {
  overflow: hidden;
  width: 87vw;
  margin-bottom: 15vw;
}

.pricing__img {
  object-fit: cover;
  width: 90vw;
  height: auto;
}

/* Pricing TAB styling */
.pricing__tab {
  display: "flex";
  flex-direction: "column";
  margin-top: 10vw;
  margin-bottom: 10vw;
}

.pricing__tab-sticky {
  background-color: #fff;
  z-index: 1;
}

/* Pricing TABLE stlyling */
.pricing__table {
  border-radius: 3vw;
  padding: 8vw 5vw 2vw 5vw;
  margin: 12vw 0.8px 0vw 0.8px;
  border: 1px solid #c2c2c2;
}

.pricing__table-value {
  font-family: "airbnb_cereal_appmedium";
  font-size: 4.2vw;
  color: #ffffff;
  margin: 0;
  text-align: center;
  background-color: #4dd284;
  padding: 3.2vw 4.2vw;
  margin-bottom: 6vw;
  border-radius: 1.5vw;
}

.pricing__table-value-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pricing__table-header {
  padding-bottom: 10vw;
  text-align: left;
}

.pricing__table-title {
  font-family: "airbnb_cereal_appmedium";
  font-size: 8vw;
  text-align: center;
  color: #484848;
  margin: 4vw 0vw;
}

.pricing__description {
  font-family: "airbnb_cereal_applight";
  font-size: 4.5vw;
  color: #484848;
  margin: 4vw 0vw;
  line-height: 6.5vw;
  text-align: center;
}

.pricing__emoji {
  font-size: 5vw;
}

.pricing__row {
  display: table-row;
  text-align: left;
  vertical-align: middle;
}

.pricing__cell {
  padding: 6vw 0vw;
  padding-right: 3vw;
  border-bottom: solid 1px #e5e5e5;
}

.pricing__row:last-child .pricing__cell {
  border-bottom: none;
}

.pricing__icon-cell {
  border-bottom: solid 1px #e5e5e5;
  text-align: -webkit-right;
  width: 20vw;
}

.pricing__row:last-child .pricing__icon-cell {
  border-bottom: none;
}

.pricing__amount-cell {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.pricing__sub-title {
  font-family: "airbnb_cereal_appmedium";
  font-size: 7.5vw;
  color: #484848;
  margin: 0;
}

.pricing__currency {
  font-family: "airbnb_cereal_appmedium";
  color: #484848;
  font-size: 4vw;
  margin: 0;
  padding-left: 1vw;
  padding-top: 0.5vw;
}

.pricing__currency--transaction {
  font-family: "airbnb_cereal_applight";
  font-size: 2.5vw;
  color: #787878;
  margin: 0;
  vertical-align: text-bottom;
}

.pricing__text {
  font-family: "airbnb_cereal_applight";
  font-size: 4.5vw;
  line-height: 6.8vw;
  color: #787878;
  margin: 0;
}

.pricing__icon {
  width: 5vw;
  color: #4dd284;
}

.pricing__icon--false {
  color: #c2c2c2;
}
