.product-form__label {
  color: #787878;
  font-family: "airbnb_cereal_applight";
  font-size: 4.5vw;
  padding-left: 1vw;
  margin-top: 6vw;
  margin-bottom: 2vw;
}

/***** Image form styling *****/

input[type="file"] {
  display: none;
}

.product-form__image-label {
  background-color: #f36b7f;
  border-radius: 5px;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding: 1.5vw 5vw;

  cursor: pointer;
}

.product-form__label-text {
  margin: 0vw;
  margin-left: 2.3vw;

  font-family: "airbnb_cereal_appmedium";
  font-size: 4.5vw;
  color: #ffffff;
}

.product-form__image-placeholder {
  border: dashed 2px #d5d5d5;
  border-radius: 10px;
  width: 86vw;
  height: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.product-form__placeholder-background {
  background-image: url("https://res.cloudinary.com/dzxuz9zc9/image/upload/q_auto/v1566397329/web_assets/img-placeholder.png");
  background-repeat: no-repeat;
  background-size: 75vw 70vw;
  background-position: center;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.product-form__thumbnail {
  width: 86vw;
  height: 80vw;
  border: solid 1px #e5e5e5;
  border-radius: 10px;
  object-fit: cover;
  background-color: #e5e5e5;
}

.product-form__image-delete {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28vw;
  padding: 2vw 1.2vw;
  margin-bottom: 5vw;
  text-align: center;
  border: solid 1px #f36b7f;
  border-radius: 6px;
}

.product-form__image-delete-text {
  margin: 0vw;
  margin-left: 1.3vw;
  font-family: "airbnb_cereal_appbook";
  font-size: 4.2vw;
  color: #f36b7f;
}

/*********** Details form  *********/

.product-form__img {
  object-fit: cover;
  width: 20vw;
  height: 20vw;
  border: solid 1px #e5e5e5;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #e5e5e5;
}
