.product-form__label {
  color: #787878;
  font-family: "airbnb_cereal_appbold";
  font-size: 3.8vw;
  padding-left: 1vw;
  margin-top: 6vw;
  margin-bottom: 2vw;
}

/***** Image form styling *****/

input[type="file"] {
  display: none;
}

.product-form__image-label {
  background-color: #008489;
  border-radius: 5px;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding: 2.3vw 6vw;

  cursor: pointer;
}

.product-form__label-text {
  margin: 0vw;
  margin-left: 2.3vw;

  font-family: "airbnb_cereal_appmedium";
  font-size: 4.5vw;
  color: #ffffff;
}

.product-form__image-placeholder {
  border: dashed 2px #d5d5d5;
  border-radius: 10px;
  width: 86vw;
  height: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.product-form__placeholder-background {
  background-image: url("../../../images/img-placeholder.jpg");
  background-repeat: no-repeat;
  background-size: 75vw 70vw;
  background-position: center;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.product-form__thumbnail {
  width: 86vw;
  height: 80vw;
  border-radius: 10px;
  object-fit: cover;
  background-color: #e5e5e5;
}

.product-form__image-delete {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28vw;
  padding: 2.5vw 2vw;
  margin-bottom: 5vw;
  text-align: center;
  border: solid 1.3px #fc5e5e;
  border-radius: 6px;
}

.product-form__image-delete-text {
  margin: 0vw;
  margin-left: 1.3vw;
  padding-top: 2px;
  font-family: "airbnb_cereal_appmedium";
  color: #fc5e5e;
}
