/********** Feautures section **********/

.features {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.features__content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: left;
  // padding-left: 5rem;
}

.features__item {
  padding: 2.5rem 0rem;
}

.features__img {
  width: 100%;
  object-fit: cover;
  height: auto;
  background-color: #e5e5e5;
}
