.product-item-desktop {
  cursor: pointer;
}

.product-item-desktop:hover {
  background-color: #f9f9f9;
}

.product-item-desktop:active {
  background-color: #e5e5e5;
}

/***** Info cell *****/

.product-item-desktop__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.product-item-desktop__img-container {
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  padding-bottom: 3rem;
  height: 0;
  position: relative;
  background: #f9f9f9;
}

.product-item-desktop__img {
  display: flex;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.product-item-desktop__content {
  display: flex;
  flex-direction: column;
  padding-left: 0.8rem;
}

/***** Price cell *****/

.product-item-desktop__price {
  display: flex;
  height: 3rem;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.product-item-desktop__price--mobile {
  padding: 0.35rem 0rem;
}

.product-item-desktop__price-currency--mobile {
  font-size: 0.9em;
}

.product-item-desktop__price-currency {
  font-size: 0.75em;
  padding-left: 0.25em;
}

/***** Last Modified cell *****/

.product-item-desktop__date {
  display: flex;
  height: 3rem;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
