@import "app.scss";

// Modal item

.order-products-row {
  display: flex;
  flex-direction: row;
  margin: 1.25rem 0rem;
}

// Item Image

.order-products-row__img-wrapper {
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  padding-bottom: 3rem;
  height: 0;
  position: relative;
  background: #f9f9f9;
  flex-shrink: 0;
}

.order-products-row__img {
  display: flex;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

// Item content

.order-products-row__content {
  margin-left: 0.75rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.order-products-row__description-wrapper {
  width: 9rem;

  // Small mobile screens
  @media only screen and (max-width: 350px) {
    width: 7rem;
  }

  @include tablet {
    width: 14rem;
  }
}

.order-products-row__description {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.order-products-row__description--variant {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}

.order-products-row__options {
  display: flex;
  flex-direction: row;
}

.order-products-row__price {
  font-size: 0.925rem !important;
  white-space: nowrap;
}

.order-products-row__currency {
  font-size: 0.65rem;
}

.order-products-row__quantity {
  display: flex;
  flex-direction: row;
}

.order-products-row__quantity-number {
  margin-left: 0.5rem;
}
