.App-container {
  padding-left: 4.5vw;
  padding-right: 4.5vw;
}

/* Header styles */

.header {
  margin-top: 8vw;
  margin-bottom: 8vw;
}

.header__title {
  color: #484848;
  font-family: "airbnb_cereal_appbold";
  font-size: 8vw;
  margin: 0;
}

.header__sub-title {
  color: #484848;
  font-family: "airbnb_cereal_appbook";
  font-size: 4.5vw;
  margin-bottom: 2vw;
}

/* Product styles */

.product {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.product__header {
  align-self: flex-start;
}

.product__title {
  color: #484848;
  font-family: "airbnb_cereal_appmedium";
  font-size: 5vw;
  margin-bottom: 2vw;
}

.product__title--light {
  color: #787878;
  font-family: "airbnb_cereal_appbook";
  font-size: 4.8vw;
  margin: 0;
}

/*  Image styles */

.product__photo {
  width: 20vw;
  height: 20vw;
  border-radius: 2vw;
}

.product__img {
  width: 20vw;
  height: 20vw;
  border-radius: 2vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #e5e5e5;
}

/* Payment row */
.payment__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 0.2vh #e5e5e5;
  padding-bottom: 3vw;
  justify-content: space-between;
}

.payment__row:active {
  background-color: #ececec;
}

.payment__row-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment__img {
  display: flex;
  height: 7.5vw;
  width: 14vw;
  margin-right: 5vw;
  border: solid 0.2vh #e5e5e5;
  border-radius: 1vw;
  align-items: center;
  justify-content: center;
}

.payment__photo {
  height: 4.5vw;
  width: 9vw;
  align-self: center;
  margin: auto;
}

.payment__text {
  color: #484848;
  font-family: "airbnb_cereal_appbook";
  font-size: 4.5vw;
}

.payment__icon {
  justify-self: flex-end;
}

/* Footer style */

.footer {
  position: absolute;
  display: block;
  bottom: 0;
  width: 100vw;
}

.footer__border {
  border-top: 0.2vh solid #e5e5e5;
}

.footer__body {
  padding-top: 1vw;
  padding-bottom: 3vw;
  padding-left: 3vw;
  padding-right: 3vw;
}

/* Footer button */

.footer__btn {
  border-radius: 1.2vw;
  padding: 4.3vw 0vw;
  background-color: #484848;
  display: inline-block;
  border: none;
  outline: none;

  /* Button text */
  color: #ffffff;
  font-family: "airbnb_cereal_appmedium";
  font-size: 4vw;
  text-align: center;
  text-decoration: none;
}

.footer__btn:active {
  opacity: 0.7;
}

.footer__btn--large {
  width: 91vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Phone number */

.description__text {
  font-family: "airbnb_cereal_appbook";
  font-size: 4.8vw;
  color: #787878;
}
