@import "~bulma/sass/utilities/mixins.sass";

.add-product-footer {
  @include mobile {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem 1.25rem;
    margin: 0;
  }

  margin: 2rem 0rem;
}
