.dashboard {
  overflow: hidden;
  padding: 3rem 0rem;
}

.dashboard__heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.dashboard__emoji {
  padding-left: 0.75rem;
  width: 2.15rem;
  height: auto;
}

.dashboard__overview {
  padding: 1rem 1.5rem;
}
