@import "app.scss";

.store-location-preview__button {
  margin-top: 1.75rem;
  margin-bottom: 1rem;
}

.store-location-preview__button-icon {
  display: flex !important;
  width: 1rem;
  margin-right: 0.25rem;
}
