.create-store-modal-mobile {
  padding: 0rem 2rem;
  padding-top: 3rem;
}

.create-store-modal-mobile__loader {
  padding: 2.5rem 0rem;
}

.create-store-modal-desktop {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  padding: 2rem 5rem;
  padding-top: 4rem;
}

.create-store-modal-desktop__loader {
  padding: 2.5rem 0rem;
}
