.social {
  display: flex;
  justify-content: center;
  margin: 1rem 0rem;
}

.social__btn {
  width: 15.2rem;
  justify-content: space-evenly;
}

.social__icon {
  width: 0.9rem;
  padding-right: 0.8rem;
}
