@import "~bulma/sass/utilities/mixins.sass";

.edit-store__header {
  margin-top: 0rem !important;
  margin-bottom: 4rem !important;
}

.edit-store-footer {
  @include mobile {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem 1.5rem;
    margin: 0;
  }

  margin: 2rem 0rem;
}

.edit-store-field {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.edit-store-field__label {
  margin-bottom: 0.75rem !important;
}
