@import "~bulma/sass/utilities/mixins.sass";

.hero {
  overflow: hidden;
}

// Hero body

.hero-body--custom {
  @include mobile {
    margin: 5rem auto;
  }

  @include tablet {
    margin: 6rem auto;
  }

  @include desktop {
    margin: 8rem auto;
  }

  margin: 8rem auto;
}

.hero-body--column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-body__button {
  margin-top: 2rem;
}

// Hero footer

.hero-footer__image {
  display: flex;
  margin: auto;

  @include mobile {
    width: 97%;
  }

  @include tablet {
    width: 97%;
  }

  @include desktop {
    width: 100%;
  }
}
