@import "~bulma/sass/utilities/mixins.sass";
.hero {
  overflow: hidden;
}

// Hero header

.hero-head {
  padding: 0rem 1.25rem;
}

// Hero body

.hero-body--custom {
  margin: 0rem auto 6rem auto;
}

.hero-body--column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Hero footer

.hero-footer__image {
  display: flex;
  width: auto;
  max-width: 100%;
  margin: auto;
}
